<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cortex-Hangouts - Decodificador de Hangouts.json</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Decodificador de arquivo Hangouts.Json">
    <meta name="author" content="David Byrne">
    <meta name="theme-color" content="#1AA260">
    <link rel="icon" sizes="192x192" type="image/png" href="images/favicon.png">

    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="hangons.css" />

    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/angular.min.js"></script>
    <script src="hangons.js"></script>

</head>

<body ng-App="hangons" ng-controller="mainController" id="body">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Hangons3.png" class="pull-left " id="logo" alt="Hangons Logo">
                <!--Source for logo: http://romannurik.github.io/AndroidAssetStudio/ -->
                <a class="navbar-brand" href="index.html">Cortex-Hangouts Decoder</a>
                <p class="navbar-text hidden-xs">Decodificador de hangouts.json cortex-intelligence</p>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="https://github.com/David-Byrne/Hangons">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="mainContent" class="container">
        <div class="row">
            Primeiro acesse <a href="https://takeout.google.com/settings/takeout" target="_blank">Google Takeout</a> e realize o download
            do seu hangouts data. extraia o Hangouts.json do arquivo ZIP.

            <span class="input-group-btn">
                <span class="btn btn-default btn-file colouredButton">
                    Browse<input type="file"  id="fileinput">
                    <input type="text" class="form-control brightText" disabled="" id="fileNameTextBox" readonly>
                </span>
            </span>
        </div>

        <div id="cannotParseAlert" class="row hidden">
            <br>
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&#10006;</button>
                    <strong>O arquivo escolhido impossibilitado de ser analisado</strong>
                    <p id="cannotParseAlertDes"></p>
                </div>
            </div>
        </div>

        <div id="unknownMessageAlert" class="row hidden">
            <br>
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&#10006;</button>
                    <strong>Certas mensagem falharam</strong>
                    <p>We didn't recognise the format of some of the message(s) so they couldn't be backed up.
                        If you report the console messages (f12)
                        <a href='https://docs.google.com/forms/d/1YEmJ5ScZbtJ6_U6RtpCLdhoSZs1i6kMipM0jVOBQnpc/viewform?usp=send_form'>
                        here</a> I will try fix the issue.
                    </p>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="progress">
                <div id = "parseBar" class="progress-bar colouredProgressBar" style="width: 0%;"></div>
            </div>
        </div>

        <div class="row">
            Agora escolha o formato que deseja. A caixa suspensa fornece mais informacoes sobre os tipos de arquivo.
            <br>
            <div class="btn-group spacedButton">
                <a href="#" class="btn btn-default disabled colouredButton" id="jsonBtn">JSON Simples</a>
                <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret brightText"></span></a>
                <span class="dropdown-menu dataDescription">
                    <span  class="dataDescription">
                    <abbr title="JavaScript Object Natation">JSON</abbr> matriz de objetos de conversa e cada conversa contem uma serie de participantes e um
                    matriz de objetos de mensagem. Cada objeto de mensagem possui um atributo de remetente, hora e conteudo.
                    </span>
                </span>
            </div>

            <div class="btn-group spacedButton">
                <a href="#" class="btn btn-default disabled colouredButton" id="txtBtn">Texto Simples</a>
                <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret brightText"></span></a>
                <span class="dropdown-menu dataDescription">
                    Um arquivo .txt simples com o remetente, hora, data e conteudo com os atributos de uma mensagem por linha.
                </span>
            </div>

            <div class="btn-group spacedButton">
                <a href="#" class="btn btn-default disabled colouredButton" id="csvBtn">Valor separado por virgula</a>
                <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret brightText"></span></a>
                <span class="dropdown-menu dataDescription">
                    Um arquivo .csv com remetente, hora, data e conteudo separados por virgulas. Uma mensagem e impressa por linha.
                </span>
            </div>

            <div class="btn-group spacedButton">
                <a href="#" class="btn btn-default disabled colouredButton" id="htmlBtn">HTML</a>
                <a href="#" class="btn btn-default dropdown-toggle colouredButton dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret  brightText"></span></a>
                <span class="dropdown-menu  dataDescription">
                    A <abbr title="Hyper Text Markup Language">HTML</abbr> arquivo com as mensagens no estilo da interface do hangouts que voce esta acostumado.
                </span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="progress">
                <div id = "toFileBar" class="progress-bar colouredProgressBar" style="width: 0%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="navbar-form form-group center-block" ng-hide="angFiles === undefined || angFiles.length === 0">
                <input type="text" placeholder="Search by Name" class="form-control" id="inputDefault" ng-model="query">
            </div>

            <div class="fileButton" ng-hide="!angFiles">
                <a href="#" class="btn btn-default colouredButton fileButton" ng-click="angDownloadAll()"> Download All (O Chrome nao permite muitos downloads, use o Firefox se voce tiver muitos chats) </a>
            </div>

            <br/>

            <span ng-repeat="file in angFiles track by $index" >
                <span class="fileButton" ng-hide="file.name.toUpperCase().search(query.toUpperCase()) === -1">
                <a href="#" class="btn btn-default colouredButton fileButton" ng-click="angDownload(file.name+file.type, file.messages )"> {{file.name+file.type}}</a>
                </span>
            </span>
        </div>
    </div>
</body>

</html>
